API_KEY.txt

# Ignore .vs, bin and obj directories
**/.vs
**/bin
**/obj
.DS_Store
**/*.user

# Ignore documentation Generation Output
WoT/docGeneration/api
WoT/docGeneration/_site
/WoT/binding-http/SimpleConsumedThing.cs
